:root {
    /*
    * \#6F1EBA: ![purple](readme-rec/purple.png) Primary ACK Color
        * May be logo color in future
    * \#1DB954: ![green](readme-rec/green.png) Primary Spotify Color
    * \#FFFF40: ![yellow](readme-rec/yellow.png) Secondary ACK Color
        * Current logo color
    * \#333333: ![dark grey](readme-rec/darkgrey.png) Primary Background Color
    * \#222222: ![darker grey](readme-rec/darkergrey.png) Secondary Background Color (borders, active, etc.)
    * \#ffffff: ![lighter grey](readme-rec/lightergrey.png) Primary Text Color
    * \#cccccc: ![light grey](readme-rec/lightgrey.png) Secondary Text Color (Inactive)
*/
   --bg-base: #222;
   --bg-highlight: #333;
   --border: #111;
   --bg-accent: #6F1EBA;
   --spofity: #1DB954;
   --primary: #FFFF40;
   --text: #eee;
   --text-inactive: #aaa;
}

html, body {
    background: var(--bg-base);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--text);
}

.side-scroller {
    padding: 2em;
}

#home {
    
}

#library {

}

#search {

}

#settings {

}

#now-playing {
    background-color: var(--bg-highlight);
    width: 100%;
    height: 4em;
    position: fixed;
    bottom: 4em;
    display: grid;
    grid-template-areas: 'art controls arrow' 'progress progress progress';
    grid-template-columns: 4em 1fr 4em;
    grid-template-rows: 1fr 6px;
}

#bar-art {
    margin: 0;
    padding: 0;
    width: 100%;
}

#controls {
    margin: auto;
}

.arrow-centering-container {
    /* text-align: center; */
    grid-area: arrow;
    display: grid;
}

.arrow {
    filter: invert(1);
    /* display: inline; */
    margin: auto;
}

.arrow-up {
    rotate: 90deg;
}

.arrow-down {
    rotate: 270deg;
}

.bottom-nav {
    background: var(--bg-highlight);
    width: 100%;
    height: 4em;
    position: fixed;
    bottom: 0;
    border-top: 2px solid var(--border);
    padding: 0;
    text-align: center;
}

.bottom-nav a {
    text-decoration: none;
}
.bottom-nav button:hover {
    cursor: pointer;
}

.bottom-nav button {
    display: inline;
    height: 100%;
    width: 5em;
    padding: 0;
    margin: 0 1em;
    border: none;
    background: transparent;
    color: var(--text);
}

.bottom-nav button img {
    height: 2em;
    filter: invert(1);
    display: block;
    margin: .5em auto;

}

.carousel {
    /* background: purple; */
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*   scroll-behavior: smooth; */
    display: flex;
    scroll-snap-type: x mandatory;
}

.carousel > div {
    display: inline;
    height: 100%;
    width: 100%;
    flex-shrink: 0;
}

.carousel-content {
    margin: 1em;
}
